<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>viewMode</key>
	<integer>1</integer>
	<key>addr1</key>
	<integer>192</integer>
	<key>addr2</key>
	<integer>168</integer>
	<key>addr3</key>
	<integer>0</integer>
	<key>addr4</key>
	<integer>5</integer>
	<key>addrPort</key>
	<integer>8000</integer>
</dict>
</plist>
